.projectImageContainer{
margin-top: 5rem;
}
.projectPageImage{
  width: 100%;
  height: auto;
}
.projectHeading{
  display: block;
}
.projectDescription{


}
.projectComplete{
  display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}
.projectText{
  font-size: 1.75rem;
  text-align: left;
}
.background1{
background-color: #D0E8F2;
}
.background2{
  background-color: #79A3B1;
}
/* Color Pallette colors
White: FCF8EC
Light Blue: D0E8F2
Dark Blue: 79A3B1
Darkest Blue: 456268 */
